<div id='timeArea-elapsedTimeLabel' class='timeArea-label js-tooltipable text is-clickable'></div>

<div class='rangeInput-wrapper rangeInput-wrapper--horizontal'>
    <div id='timeArea-timeProgress' class='rangeInput-progress'></div>
    <input id='timeArea-timeRange' class='rangeInput js-tooltipable u-clickable' type='range' max="<%= totalTime %>" title=' '>
</div>

<div class='timeArea-label js-tooltipable text u-textAlignRight' data-tooltip-text='<%- totalTimeMessage %>'>
    <%= prettyTotalTime %>
</div>